<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://ru.tcb.assignmentservice/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://ru.tcb.assignmentservice.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Employee.browse" caption="msg://ru.tcb.assignmentservice.screen.employee/employeeBrowse.menu"/>
        <item screen="Opportunity.browse"
              caption="msg://ru.tcb.assignmentservice.screen.opportunity/opportunityBrowse.menu"/>
    </menu>
    <menu id="data-administration" insertBefore="administration" caption="msg://ru.tcb.assignmentservice/menu.dataAdministration">

        <item screen="Queue.browse" caption="msg://ru.tcb.assignmentservice.screen.queue/queueBrowse.menu"/>
    </menu>

</menu-config>